.App {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}


.search-input {
  height: 30px;
  width: 400px;
}

.search-btn {
  height: 35px;
}
