.App {
  text-align: center;
}

.home {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  width: 210px;
}


.search-input {
  height: 30px;
  width: 400px;
}

.search-btn {
  height: 35px;
}
